.paradise {
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  z-index: $z-i-main;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &__track {
    position: absolute;
    top:0;
    left:0;
    width: 300%;
    height: auto;
    > svg {
      width: 100%;
      height: auto;
      pointer-events: none; // to preserve scroll event
      .paradise__path {
        pointer-events: none;
        fill:none;
        stroke: getColor('lightgray');
        stroke-width: 1px;
      }
      .paradise__cursor {
        fill: getColor('primary');
        stroke: getColor('lightgray');
        stroke-width: 1px;
      }
    }
  }
  &__content {
    $contentW: 40vw;
    display: none;
    position: absolute;
    padding: 3rem;
    top:50%;
    left:50%;
    width: $contentW;
    transform: translate(calc(-50% - #{$contentW/2} - 5vw), -50%);
    color: getColor('inverted');
    border: 1px solid getColor('inverted');
    background: getColor('primary');
    z-index: $z-i-modal;
    &--opened {
      display: block;
    }
  }
}
