.primary-menu {
  position: fixed;
  top:0;
  right: 0;
  z-index: $z-i-header;
  > ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    li {
      a {
        color: white;
      }
    }
  }
}