.paradise {
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  z-index: $z-i-main;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &__track {
    position: absolute;
    top:0;
    left:0;
    width: 300%;
    height: auto;
    > svg {
      width: 100%;
      height: auto;
      pointer-events: none; // to preserve scroll event
      .paradise__path {
        pointer-events: none;
        fill:none;
        stroke: getColor('lightgray');
        stroke-width: 1px;
      }
      .paradise__cursor {
        fill: getColor('primary');
        stroke: getColor('lightgray');
        stroke-width: 1px;
      }
    }
  }
}
