$border-radius: 0px;

$headings-font-family-bold: 'clear_sansbold', sans, arial;
$headings-font-family-light: 'clear_sans_lightregular', sans, arial;
$headings-font-family-regular: 'clear_sansregular', sans, arial;
$font-family-base: 'clear_sansregular', sans, arial;