$border-radius: 0px;

$font-family-bold: 'clear_sansbold', sans, arial;
$font-family-light: 'clear_sans_lightregular', sans, arial;
$font-family-regular: 'clear_sansregular', sans, arial;
$font-family-base: $font-family-regular;